<div class="sidebar">

        <!-- <div class="sidebar-section">
            <h5><span>Newsletter</span></h5>
            {% include newsletter.html %}
        </div>
             -->
        <div class="sidebar-section">
            <h5><span>See what we're up</span></h5>
            <ul style="list-none;">
            <li><a target="_blank" href="https://m.do.co/c/84c9b45d0c47">Our Videos (coming soon)</a></li>
            <li><a target="blank" href="https://www.instagram.com/mafiakitty">Our Instagram photos</a></li>
            <li><a target="blank" href="https://www.facebook.com/themafiakitty">See our Facebook updates</a></li>
            <li><a target="blank" href="https://www.twitter.com/themafiakitty">Our Twitter updates</a></li>
            </ul>
        </div>

        <div class="sidebar-section">
            <h5><span>Recommended</span></h5>
            <a href="#" title="Sell digital downloads with WordPress, for free">
                <img src="#" alt="Sell digital downloads with WordPress, for free" />
            </a>
        </div>

</div>
